In [1]:
import pandas as pd
import numpy as np

In [38]:
#1.keep 3 columns 2. drop null 
df=pd.read_csv('stringency_index.csv')
new_df=df[['location','date','stringency_index']]
new_df=new_df.dropna()

In [39]:
#1. overwriting date after changing format
#2. transform date inte quarter format
new_df['date'] = pd.to_datetime(new_df['date']) 
new_df['quarters']=new_df['date'].dt.to_period('Q')

In [40]:
#keep three new columns
new_df= new_df[['location','quarters','stringency_index']]
new_df = new_df.groupby(['location','quarters']).mean()

                      stringency_index
location    quarters
Afghanistan 2020Q1           35.561351
            2020Q2           81.755385
            2020Q3           52.858370
            2020Q4           13.488804
            2021Q1           16.196111
...                                ...
Zimbabwe    2021Q2           54.192198
            2021Q3           66.636848
            2021Q4           52.949022
            2022Q1           50.081333
            2022Q2           48.420926

[1826 rows x 1 columns]

In [43]:
from openpyxl import load_workbook
workbook= load_workbook(filename='str_index2_1.xlsx')
workbook.sheetnames
sheet= workbook.active

In [81]:
# changing location format to match trade monither
EmergingAsiaexclChina=['Hong Kong','India','Indonesia','Philippines',
                           'Korea','Malaysia','Pakistan',
                          'Singapore','Taiwan','Thailand']

for col in sheet.iter_cols(min_row=1,max_row= None,min_col= None,max_col=1,values_only=True):
    for countries in col:
        if countries is not None:
            country= countries
            if country in EmergingAsiaexclChina:
                print('Emerging Asia excl China')

Emerging Asia excl China
Emerging Asia excl China
Emerging Asia excl China
Emerging Asia excl China
Emerging Asia excl China
Emerging Asia excl China
Emerging Asia excl China
Emerging Asia excl China
Emerging Asia excl China

In [41]:
# new_df= new_df.to_excel('str_index2_1.xlsx')